@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian&family=Miltonian+Tattoo&display=swap');

/* 
  ##Global Settings
  ##Global Settings
*/

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body {
    background-image: url("../images/background_masterclass.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-position-x: center;
    height: auto;
    width: auto;
    /* transitions */
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 
            
                    
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}

@-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadeIn 3s ease-in-out;
  -moz-animation: fadeIn 3s ease-in-out;
  -o-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
}
