@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian&family=Miltonian+Tattoo&display=swap');


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    
    body{
        background-size: initial;
    }
  

  #firstContent{
      display: block;
  }
  .active {
      display: block !important;
  }

  p, a {
      font-family:  'Frank Ruhl Libre', serif, Aril, Helvetca;
      font-size: 1.0em;
      text-align: justify;
      margin: 10px;
      color: #fff;
      text-shadow: #000 1px 2px 5px;
  }
  
  .paragraph {
      font-size: 1.5em;
  }
  
  
  .mainTitle {
      font-size: 2.0em;
      text-transform: uppercase;
      margin: 10px;
      font-family:  'Lato', sans-serif;
      font-weight: 500;
      color: #ff6003;
      text-shadow: #000 1px 2px 5px;
  }
  
  .subtitle {
      font-size: 1.5em;
      text-transform: uppercase;
      margin: 10px;
      font-family: 'Miltonian', cursive;
      font-weight: 500;
      color: #ff6003;
      text-align: center;
      
  }

/* \\========================================== */

  main, header{
      width: 100%;
      height: 100%;
      margin: auto;
  }
  header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px;
      border-bottom: #ff6003 2px solid;
  }

  header a{
      color: #fff;
      padding: 5px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
  }
   
  nav{
      display: flex;
      width: 100%;
      justify-content: space-around;
  }
  
  ul li { 
      display: inline; 
      
  }
  
  ul li a {
      color: #fff;
      padding: 5px;
      text-decoration: none;
      font-family:  'Lato', sans-serif;
      font-size: .7em;
  }
  
  ul li a:hover {
      color: #ff6003;
      transition: all 0.5s;
  }

  .nav-item a:active{
      color: #ff6003 !important;
      text-decoration: underline;
  }
    
  .nav-item a:focus{
      color: #ff6003 !important;
      text-decoration: underline;
  }
  
  ol{
      float: left;
      display: grid;
  }

  ol li{
      padding: 25px;
      width: 20px;
      display: inline-block;
      float: left; 
  }

  .socialMedia{
      display: none;
  }

  .wrap{
      align-items: flex-start;
      display: block;
      justify-content: space-between;
  }
   .wrap-experience{
      flex-direction: row-reverse;
      align-items: flex-start;
      display: block;
  }

  .article-masterclass {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding-bottom: 20px;
      margin: auto;
  }
  
  .article-masterclass a, .article-experience a {
      text-decoration: none;
      color: #ff6003;
      
  }

  .sponsors-content-masterclass{
      align-items: flex-start;
      display: block;
      justify-content: space-between;
      flex-direction: row;
      border-top: 1p;
      border: 2px solid #fff;
      
      
  }

  .sponsors-content-masterclass ul{
      padding-top: 30px;
      text-align: center;
      
  }
  .sponsors-content-masterclass ul li{
      display: inline;
  }

  .sponsors-content-masterclass ul li img{
      width: 100px;
      margin: 10px;
  }

  .aside-masterclass{
      display: block;
      text-align: center;
      flex-direction: column;
      height: 100%;
      margin: auto;
      padding: 20px;
      background-color: #000;
      border-top: #ff6003 2px solid;
      border-bottom: #ff6003 2px solid;
      
  }

  .aside-masterclass p, .dateTimeEvent p{
      font-size: 1.2em;
      
  }

  .dateTimeEvent p, .date p{
    text-align: center;
    
}

  

  iframe{
      width: 95%;
      height: 300px;
      margin: 11px;
      
  }

  .navigation{
      display: none;
  } 

  .article-experience {
      display: flex;
      flex-direction: column;
      width: 90%;
      text-align: right;
      margin: auto;
  }
  
  .aside-experience{
      display: flex;
      align-items: left;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: #000;
  }

  .aside-experience ul{
      flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px 0px;
  display: inline;
  text-align: center;
  border-top: solid 2px #ff6003;
  border-bottom: solid 2px #ff6003;
      
  }

  .aside-experience li{
      padding: 20px 0px;
      text-align: center;
     
  }
  .aside-experience img{
      width: 100px;
      margin: 10px;
  }

  .dateTimeEvent-content{
      align-items: flex-start;
      display: block;
      justify-content: space-between;
      flex-direction: row;
      border: 2px solid #ff6003;
  }

  .dateTimeEvent {
      width: 100%;
      margin: 10px 0px;
  }

  .dateTimeEvent h1{
      font-size: 1.5em;
      text-transform: uppercase;
      margin: 10px;
      font-family: 'Miltonian', cursive;
      font-weight: 500;
      color: #ff6003;
      text-align: center;

  }

  .verticalText {
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-size: 0.9em;
      display: none; 
  }

  .iframe-content{
      display: block;
      justify-content: space-between;
      width: 100%;
  }

  .iframe{
      width: 95%;
      height: 200px;
      margin: 10px;
  }



  
  .article-tickets{
      flex-direction: column;
  width: 90%;
  margin: auto;
      }
  
      .aside-tickets{
          display: flex;
          align-items: left;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 100%;
          background-color: #000;
          border-top: 2px solid #ff6003;
      }
      
      .aside-tickets ul{
          display: inline;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          padding-top: 40px;
      }
  
      .aside-tickets li{
          /* padding: 20px 0px; */
          text-align: center;
      }
      .aside-tickets img{
          margin: 10px;
      }
   
      .ticket-img{
          right: 0px;
          bottom: 0;
          width: 100%;
      }
  
      
    .card-area{
        
        display: block;
        width: 100%;
    }

    

    
    /* THE MAINCONTAINER HOLDS EVERYTHING */
    .maincontainer{
        /* position: absolute;  */
        width: 250px;
        height: 330px;
        background: none;
        display: flex;
        /* margin: auto; */
        /* width: 90%; */
        justify-content: space-around;
        flex-direction: row;
        margin: auto;
    }
    
    /* THE CARD HOLDS THE FRONT AND BACK FACES */
    .thecard{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transform-style: preserve-3d;
      transition: all 0.8s ease;
      
    }
    
    /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
    .thecard:hover{
      transform: rotateY(180deg);
    }
    
    /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
     .thefront{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      /* height: 100%; */
      /* border-radius: 10px; */
      backface-visibility: hidden;
      overflow: hidden;
      background-color: #e3e3e3;
      color: #000;
      opacity: .9;
      border-radius: 5px;
    }
    
    .thefront img{
        width: 100%;
    }
    /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
    .theback{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      /* height: 100%; */
      /* border-radius: 10px; */
      backface-visibility: hidden;
      overflow: hidden;
      background: #e3e3e3;
      color: #333;
      text-align: center;
      transform: rotateY(180deg);
      border-radius: 5px;
    }
    
    
    /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
    .thefront h1, .theback h1{
        margin: 10px;
        text-align: center;
        color: #ff6003;
        margin: 1rem;
        font-size: 1.4rem;
        
    }
    
    .thefront p, .theback p{

        margin: 1rem;
        font-size: 1.2rem;
        text-align: start;
        color: #000;
    }

    .buy-area{
        display: flex;
        width: 100%;

    }

    .buy{
        width: 100%;
        /* margin-top: 60%; */
        padding: 20px;
        background-color: beige;
        text-align: center;
        font-family: 'Miltonian', cursive;
        color: #ff6003;
        font-size: 2.0em;
        text-decoration: none;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(254,97,6,1) 0%, rgb(0, 0, 0) 100%);
        border-top: 2px solid #ff6003;
        border-bottom: 2px solid #ff6003;
        margin: 10px 0px;
    }

  .sponsors-content-tickets ul li img{
      width: 100px;
  }

  .sponsors-content-tickets{
    padding: 20px 0px 0px 0px;
    text-align: center;
  }
  
  #banner{
      width: 100%;
      padding-top: 20px;
      border-bottom: solid 2px #ff6003;
      margin: 0;
  }
  


}