@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian&family=Miltonian+Tattoo&display=swap');

/* 
  ##Global Settings
  ##Global Settings
*/

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

p, a {
    font-family:  'Frank Ruhl Libre', serif, Aril, Helvetca;
    font-size: 1.0em;
    text-align: justify;
    margin: 10px;
    color: #fff;
    text-shadow: #000 1px 2px 5px;
}

.paragraph {
    font-size: 2em;
}

body {
    background-image: url("../images/background_masterclass_tattoo.png");
    
    background-repeat: no-repeat;
    background-color: #000;
    background-position-x: center;

    /* transitions */
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all .5s ease;         
}

.mainTitle {
    font-size: 3em;
    text-transform: uppercase;
    margin: 10px;
    font-family:  'Lato', sans-serif;
    font-weight: 500;
    color: #ff6003;
    text-shadow: #000 1px 2px 5px;
}

.subtitle {
    font-size: 3em;
    text-transform: uppercase;
    margin: 10px;
    font-family: 'Miltonian', cursive;
    font-weight: 500;
    color: #ff6003;
    
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    main, header{
        width: 80%;
        height: 100%;
        margin: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a{
        color: #fff;
        padding: 5px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }
     
    nav{
        margin: 10px;
        padding: 50px;
    }
    
    ul li { 
        display: inline; 
    }
    
    ul li a {
        color: #fff;
        padding: 5px;
        text-decoration: none;
        font-family:  'Lato', sans-serif;
    }
    
    ul li a:hover {
        color: #ff6003;
        transition: all 0.5s;
    }

    .nav-item a:active{
        color: #ff6003 !important;
    }
      
    .nav-item a:focus{
        color: #ff6003 !important;
    }
    
    ol{
        float: left;
        display: grid;
    }

    ol li{
        padding: 25px;
        width: 20px;
        display: inline-block;
        float: left; 
    }

    .socialMedia a{
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        
    }
    .socialMedia ul{
        color: #ff6003;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.0em;
        font-family: 'Lato', sans-serif;
    }
    .socialMedia img{
        width: 20px;
    }

    .wrap{
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }
    .wrap-experience{
        flex-direction: row-reverse;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }

    .article-masterclass {
        display: flex;
        flex-direction: column;
        width: 55%;
    }

    .sponsors-content-masterclass{
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .sponsors-content-masterclass ul{
        display: flex;
        flex-direction: row;
        justify-items: center;
        padding-top: 50px;
    }

    .aside-masterclass{
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        height: 100%;
    }

    .aside-masterclass p, .dateTimeEvent p{
        font-size: 1.2em;
    }

    iframe{
        width:100%; 
        height:300px;
        padding: 10px;
    }

    .article-experience {
        display: flex;
        flex-direction: column;
        width: 70%;
        text-align: right;
    }
    
    .aside-experience{
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 100%;
    }

    .aside-experience ul{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 40px;
    }

    .aside-experience li{
        padding: 20px 0px;
        text-align: center;
    }

    .dateTimeEvent-content{
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .dateTimeEvent {
        width: 25%;
        margin: 10px 0px;
    }
    .dateTimeEvent h1{
        font-size: 3em;
        text-transform: uppercase;
        margin: 10px;
        font-family: 'Miltonian', cursive;
        font-weight: 500;
        color: #ff6003;
    }

    .verticalText {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 0.9em;
    }

    .iframe-content{
        display: flex;
        justify-content: space-between;
    }

    .iframe{
        width: 50%;
        height: 110px;  
    }

    .article-masterclass a, .article-experience a{
        text-decoration: none;
        color: #ff6003;
    }

    .article-tickets{
    flex-direction: column;
    width: 65%;
    }

    .aside-tickets{
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        height: 100%;
    }
    
    .aside-tickets ul{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 40px;
    }

    .aside-tickets li{
        padding: 20px 0px;
        text-align: center;
    }
 
    .ticket-img{
        right: 0px;
        bottom: 0;
        width: 100%;
    }

    .buy{
        width: 100%;
        margin-top: 60%;
        padding: 20px;
        background-color: beige;
        text-align: center;
        font-family: 'Miltonian', cursive;
        color: #ff6003;
        font-size: 2.0em;
        text-decoration: none;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(254,97,6,1) 0%, rgb(0, 0, 0) 100%);
        border-top: 2px solid #ff6003;
        border-bottom: 2px solid #ff6003;
        margin-left: -1px;
    }

    .navigation{
        top: 200px;
        display: block;
        position: relative;
    }
    
    .dot{
        height: 15px;
        width: 15px;
        border: solid 2px #fff;
        margin: 0 2px;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .dotActive{
        height: 15px;
        width: 15px;
        border: solid 2px #ff6003;
        margin: 0 2px;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active { 
        display: block !important;  
    }

    .verticalLine {
        border-left: 2px solid #ff6003;
        height: 750px;
        position: relative;
        left: 0%;
        margin-left: -3px;
        top: 0;
        float: left;
    }

    .verticalLine-G{
        position: absolute;
        border-right: 2px solid #ff6003;
        top: 0;
        bottom: 0;
        float: right;
        z-index: -2
    }
    
    hr{
        border-top: 2px solid #ff6003;
        width: 100%;
        position: absolute;
        left: 0;
        margin-top: 8px;  
    } 

    .card-area{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }

    .flip-card {
        background-color: transparent;
        width: 95%;
        height: 300px;
        perspective: 1000px;
        margin: auto;
        opacity: .8;  
    }

    .card{
        width: 100%;
        border-radius: 5px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 5px;
    }
      
    .flip-card-front {
        background-color: #e3e3e3; 
    }

    .flip-card-front h1{
        color: #ff6003;
        padding: 10px;
        text-align: center;
    
    }
      
    .flip-card-back {
        background-color: #e3e3e3;
        transform: rotateY(180deg); 
    }
    
    .flip-card-back h1{
        padding: 10px;
        text-align: center;
        color: #ff6003;
    }

    .flip-card-back p{
        text-align: justify;
        margin: 10px;
        color: #000;
        font-size: 1.2em;
        padding: 10px;
    }
}
  
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
} 

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
}
  
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
}
  
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    
  

    #firstContent{
        display: block;
    }
    .active {
        display: block !important;
    }

    p, a {
        font-family:  'Frank Ruhl Libre', serif, Aril, Helvetca;
        font-size: 1.0em;
        text-align: justify;
        margin: 10px;
        color: #fff;
        text-shadow: #000 1px 2px 5px;
    }
    
    .paragraph {
        font-size: 1.5em;
    }
    
    body {
        background-image: url("../images/background_masterclass_tattoo.png");
        
        background-repeat: no-repeat;
        background-color: #000;
        background-position-x: center;
    
        /* transitions */
        -webkit-transition: all 1s ease;
           -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
             -o-transition: all 1s ease;
                transition: all .5s ease;         
    }
    
    .mainTitle {
        font-size: 2.0em;
        text-transform: uppercase;
        margin: 10px;
        font-family:  'Lato', sans-serif;
        font-weight: 500;
        color: #ff6003;
        text-shadow: #000 1px 2px 5px;
    }
    
    .subtitle {
        font-size: 1.5em;
        text-transform: uppercase;
        margin: 10px;
        font-family: 'Miltonian', cursive;
        font-weight: 500;
        color: #ff6003;
        text-align: center;
        
    }

/* \\========================================== */

    main, header{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        border-bottom: #ff6003 2px solid;
    }

    header a{
        color: #fff;
        padding: 5px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }
     
    nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    ul li { 
        display: inline; 
    }
    
    ul li a {
        color: #fff;
        padding: 5px;
        text-decoration: none;
        font-family:  'Lato', sans-serif;
        font-size: .7em;
    }
    
    ul li a:hover {
        color: #ff6003;
        transition: all 0.5s;
    }

    .nav-item a:active{
        color: #ff6003 !important;
        text-decoration: underline;
    }
      
    .nav-item a:focus{
        color: #ff6003 !important;
        text-decoration: underline;
    }
    
    ol{
        float: left;
        display: grid;
    }

    ol li{
        padding: 25px;
        width: 20px;
        display: inline-block;
        float: left; 
    }

    .socialMedia{
        display: none;
    }

    .wrap{
        align-items: flex-start;
        display: block;
        justify-content: space-between;
    }
     .wrap-experience{
        flex-direction: row-reverse;
        align-items: flex-start;
        display: block;
    }

    .article-masterclass {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: #ff6003 2px solid;
    }
    
    .article-masterclass a, .article-experience a {
        text-decoration: none;
        color: #ff6003;
        font-size: 1.3em;
    }

    .sponsors-content-masterclass{
        align-items: flex-start;
        display: block;
        justify-content: space-between;
        flex-direction: row;
       
    }

    .sponsors-content-masterclass ul{
        padding-top: 30px;
        text-align: center;
        border-top: #ff6003 2px solid;
        
    }
    .sponsors-content-masterclass ul li{
        display: inline;
    }

    .sponsors-content-masterclass ul li img{
        width: 100px;
        margin: 10px;
    }

    .aside-masterclass{
        display: block;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }

    .aside-masterclass p, .dateTimeEvent p{
        font-size: 1.2em;
        
    }

    iframe{
        width: 95%;
        height: 300px;
        margin: 11px;
        
    }

    .navigation{
        display: none;
    } 

    .article-experience {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: right;
    }
    
    .aside-experience{
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }

    .aside-experience ul{
        flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px 0px;
    display: inline;
    text-align: center;
    border-top: solid 2px #ff6003;
    border-bottom: solid 2px #ff6003;
        
    }

    .aside-experience li{
        padding: 20px 0px;
        text-align: center;
       
    }
    .aside-experience img{
        width: 100px;
        margin: 10px;
    }

    .dateTimeEvent-content{
        align-items: flex-start;
        display: block;
        justify-content: space-between;
        flex-direction: row;
    }

    .dateTimeEvent {
        width: 100%;
        margin: 10px 0px;
    }

    .dateTimeEvent h1{
        font-size: 1.5em;
        text-transform: uppercase;
        margin: 10px;
        font-family: 'Miltonian', cursive;
        font-weight: 500;
        color: #ff6003;
        text-align: center;

    }

    .verticalText {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 0.9em;
        display: none; 
    }

    .iframe-content{
        display: block;
        justify-content: space-between;
        width: 100%;
    }

    .iframe{
        width: 95%;
        height: 200px;
        margin: 10px;
    }



    
    .article-tickets{
        flex-direction: column;
        width: 94%;
        }
    
        .aside-tickets{
            display: flex;
            align-items: left;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        
        .aside-tickets ul{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            padding-top: 40px;
        }
    
        .aside-tickets li{
            padding: 20px 0px;
            text-align: center;
        }
     
        .ticket-img{
            right: 0px;
            bottom: 0;
            width: 100%;
        }
    
        .buy{
            width: 100%;
            margin-top: 60%;
            padding: 20px;
            background-color: beige;
            text-align: center;
            font-family: 'Miltonian', cursive;
            color: #ff6003;
            font-size: 2.0em;
            text-decoration: none;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(254,97,6,1) 0%, rgb(0, 0, 0) 100%);
            border-top: 2px solid #ff6003;
            border-bottom: 2px solid #ff6003;
            margin-left: -1px;
        }


        
    .card-area{
        display: block;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        margin: 10p;
        
    }

    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 300px;
        perspective: 1000px;
        margin: auto;
        opacity: .8;
        margin: 10px;
        padding-bottom: 70px; 
    }

    .card{
        
        border-radius: 5px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 350px;
        backface-visibility: hidden;
        border-radius: 5px;
    }
      
    .flip-card-front {
        background-color: #e3e3e3; 
    }

    .flip-card-front h1{
        color: #ff6003;
        padding: 10px;
        text-align: center;
    
    }
      
    .flip-card-back {
        background-color: #e3e3e3;
        transform: rotateY(180deg); 
    }
    
    .flip-card-back h1{
        padding: 10px;
        text-align: center;
        color: #ff6003;
    }

    .flip-card-back p{
        text-align: justify;
        margin: 10px;
        color: #000;
        font-size: 1.2em;
        padding: 10px;
    }

    .sponsors-content-tickets ul li img{
        width: 100px;
    }
    
    #banner{
        width: 100%;
        padding-top: 20px;
        border-top: solid 2px #ff6003;
    }


    @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; } 
    }
    
    @-moz-keyframes fadeIn {
        0% { opacity: 0;}
        100% { opacity: 1; }
    }
    
    @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    .fadeIn {
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadeIn 3s ease-in-out;
        -o-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 3s ease-in-out;
    }
    
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
}