@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian&family=Miltonian+Tattoo&display=swap');

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {
    
  p, a {
    font-family:  'Frank Ruhl Libre', serif, Aril, Helvetca;
    font-size: 1.0em;
    text-align: justify;
    margin: 10px;
    color: #fff;
    text-shadow: #000 1px 2px 5px;
}

.paragraph {
    font-size: 1.5em;
}

.subtitle {
    font-size: 2em;
    text-transform: uppercase;
    margin: 10px;
    font-family: 'Miltonian', cursive;
    font-weight: 500;
    color: #ff6003;
    
}

.mainTitle {
    font-size: 3em;
    text-transform: uppercase;
    margin: 10px;
    font-family:  'Lato', sans-serif;
    font-weight: 500;
    color: #ff6003;
    text-shadow: #000 1px 2px 5px;
}


main, header{
    width: 95%;
    height: 100%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
 
nav{
    margin: 10px;
    padding: 50px;
}

ul li { 
    display: inline; 
}

ul li a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-family:  'Lato', sans-serif;
}

ul li a:hover {
    color: #ff6003;
    transition: all 0.5s;
}

.nav-item a:active{
    color: #ff6003 !important;
}
  
.nav-item a:focus{
    color: #ff6003 !important;
}

ol{
    float: left;
    display: grid;
}

ol li{
    padding: 25px;
    width: 20px;
    display: inline-block;
    float: left; 
}

.socialMedia a{
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    
}
.socialMedia ul{
    color: #ff6003;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.0em;
    font-family: 'Lato', sans-serif;
}
.socialMedia img{
    width: 20px;
}

.wrap{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.wrap-experience{
    flex-direction: row-reverse;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.article-masterclass {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.sponsors-content-masterclass{
    text-align: center;
}

.sponsors-content-masterclass ul{
    padding-top: 50px;
    text-align: center;
}

.sponsors-content-masterclass img, .aside-experience img, .aside-tickets img{
  width: 120px;
  padding-top: 10px;
}


.aside-masterclass{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 32%;
    height: 100%;
}

.aside-masterclass p, .dateTimeEvent p{
    font-size: 1.2em;
}

.dateTimeEvent p{
    text-align: right;
}

iframe{
    width:100%; 
    height:300px;
    padding: 10px;
}

.article-experience {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: right;
}

.aside-experience{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.aside-experience ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 40px;
}

.aside-experience li{
    padding: 20px 0px;
    text-align: center;
}

.dateTimeEvent-content{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dateTimeEvent {
    width: 25%;
    margin: 10px 0px;
}
.dateTimeEvent h1{
    font-size: 2em;
    text-transform: uppercase;
    margin: 10px;
    font-family: 'Miltonian', cursive;
    font-weight: 500;
    color: #ff6003;
}

.verticalText {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 0.9em;
}

.iframe-content{
    display: flex;
    justify-content: space-between;
}

.iframe{
    width: 50%;
    height: 110px;  
}

.article-masterclass a, .article-experience a{
    text-decoration: none;
    color: #ff6003;
}

.article-tickets{
flex-direction: column;
width: 65%;
}

.aside-tickets{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 100%;
    
}

.aside-tickets ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 40px;
}

.aside-tickets li{
    padding: 10px 0px;
    text-align: center;
}

.ticket-img{
    right: 0px;
    bottom: 0;
    margin: 0px 10px;
    width: 98%;
}

.card-area{
    
    display: flex;
    width: 100%;
    height: 150px;
}

.buy-area{
    display: flex;
    width: 50%;
    margin-top: 50%;

}

.buy{
    width: 100%;
    padding: 20px 80px;
    background-color: beige;
    text-align: center;
    font-family: 'Miltonian', cursive;
    color: #ff6003;
    font-size: 2.0em;
    text-decoration: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(254,97,6,1) 0%, rgb(0, 0, 0) 100%);
    border-top: 2px solid #ff6003;
    border-bottom: 2px solid #ff6003;
    margin-left: -1px;
}

.navigation{
    top: 200px;
    display: block;
    position: relative;
}

.dot{
    height: 15px;
    width: 15px;
    border: solid 2px #fff;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotActive{
    height: 15px;
    width: 15px;
    border: solid 2px #ff6003;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active { 
    display: block !important;  
}

.verticalLine {
    border-left: 2px solid #ff6003;
    height: 750px;
    position: relative;
    left: 0%;
    margin-left: -3px;
    top: 0;
    float: left;
}

.verticalLine-G{
    position: absolute;
    border-right: 2px solid #ff6003;
    top: 0;
    bottom: 0;
    float: right;
    z-index: -2
}

hr{
    border-top: 2px solid #ff6003;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 8px;  
} 

#banner{
  width: 100%;
}






/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    /* position: absolute;  */
    width: 250px;
    /* height: 320px; */
    background: none;
    display: flex;
    /* margin: auto; */
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  /* border-radius: 10px; */
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #e3e3e3;
  color: #000;
  opacity: .9;
  border-radius: 5px;
}

.thefront img{
    width: 100%;
}
/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  /* border-radius: 10px; */
  backface-visibility: hidden;
  overflow: hidden;
  background: #e3e3e3;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 5px;
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
    margin: 10px;
    text-align: center;
    color: #ff6003;
    margin: 1rem;
    font-size: 1.4rem;
    
}

.thefront p, .theback p{

    margin: 1rem;
    font-size: 1.2rem;
    text-align: start;
    color: #000;
}
    
} 